#wrapper {
  max-width: 42.5rem;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  main {
    > section {
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }

    #main-visual {
      img {
        width: 100%;
      }
    }

    #section-1 {
      padding: 5rem 2.5rem 6rem;

      .title {
        width: 95%;
        display: block;
        margin: 0 auto 3rem;
      }

      .subtitle {
        display: block;
        text-align: center;
        font-size: 1.7rem;
        line-height: 2rem;
        color: #e4d2ee;
        font-weight: 400;
        margin-bottom: 1rem;
        b {
          font-weight: bold;
          color: #ffffff;
        }
      }

      .condition {
        width: 100%;
        display: block;
        margin-bottom: 1.5rem;
      }

      .table {
        width: 100%;
      }
    }

    #section-2 {
      padding: 5.5rem 5rem 6.5rem;

      .subtitle {
        width: 60%;
        display: block;
        margin: 0 auto 1rem;
      }

      .title {
        width: 75%;
        display: block;
        margin: 0 auto 2rem;
      }

      ul {
        display: flex;
        flex-flow: row wrap;
        li {
          flex: 1 1 50%;
          img {
            width: 80%;
            margin: 0 auto 1rem;
            display: block;
          }
          span {
            font-size: 1.43rem;
            display: block;
            color: #ffffff;
            font-weight: bold;
            margin-bottom: 1rem;
            line-height: 1.8rem;
            text-align: center;
          }
          p {
            font-size: 1.1rem;
            color: #ffffff;
            line-height: 1.5rem;
            text-align: center;
          }
          &:nth-child(-n + 3) {
            margin-bottom: 2rem;
          }
        }
      }
    }
    #section-3 {
      padding: 4rem 0 25rem;

      .point {
        width: 15rem;
        display: block;
        margin: 0 auto 1rem;
      }

      .subtitle {
        width: 65%;
        display: block;
        margin: 0 auto 2rem;
      }

      .title {
        width: 75%;
        display: block;
        margin: 0 auto;
      }
    }

    #section-4 {
      padding: 6.5rem 0 7.5rem;

      .title {
        width: 40%;
        display: block;
        margin: 0 auto 2rem;
      }

      .contents-1 {
        display: block;
        text-align: center;
        color: #d3fa5d;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        b {
          font-size: 1.6rem;
          font-weight: 500;
        }
      }

      p {
        font-size: 2.1rem;
        font-weight: 700;
        color: #ffffff;
        line-height: 2.7rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      .dot {
        display: block;
        width: 80%;
        margin: 0 auto 2rem;
      }

      .contents-2 {
        font-size: 1.8rem;
        color: #ffffff;
        font-weight: 500;
        line-height: 3rem;
        display: block;
        text-align: center;
      }

      .open {
        width: 50%;
        display: block;
        margin: 0 auto 5.5rem;
      }

      ul {
        width: 65%;
        margin: 0 auto;
        li {
          font-size: 1.25rem;
          color: #ffffff;
          line-height: 2rem;
        }
      }
    }

    #section-5 {
      background-color: #3f1159;
      padding: 5rem 0;
      z-index: 5;

      &::after {
        display: block;
        content: "";
        position: absolute;
        box-sizing: border-box;
        width: 5rem;
        height: 5rem;
        border-top: 5rem solid #3f1159;
        border-right: 5rem solid transparent;
        border-bottom: 5rem solid transparent;
        border-left: 5rem solid transparent;
        bottom: -8rem;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      p {
        font-size: 1.4rem;
        color: #ffffff;
        font-weight: 400;
        line-height: 2.1rem;
        text-align: center;
        margin-bottom: 1.5rem;
      }

      img {
        width: 70%;
        display: block;
        margin: 0 auto;
      }
    }

    #section-6 {
      padding: 8rem 0 10rem;
      .box {
        width: 70%;
        margin: 0 auto;

        &:not(:last-child) {
          margin-bottom: 25rem;
        }
        .title {
          width: 70%;
          display: block;
          margin: 0 auto;
        }
        span {
          font-size: 2.1rem;
          display: block;
          color: #312337;
          line-height: 4rem;
          text-align: center;
          margin-bottom: 0.5rem;
        }
        ul {
          li {
            font-size: 1.3rem;
            line-height: 2rem;
            color: #75687a;
          }
        }
      }
    }

    #section-7 {
      background-color: #310c45;
      padding: 5rem 2.5rem;
      .point {
        width: 15rem;
        display: block;
        margin: 0 auto 2rem;
      }

      .subtitle {
        width: 80%;
        display: block;
        margin: 0 auto 2rem;
      }

      .title {
        width: 90%;
        display: block;
        margin: 0 auto 4rem;
      }

      .subtitle-2 {
        width: 90%;
        display: block;
        margin: 0 auto 1rem;
      }

      .box {
        width: 100%;
        background-color: #fdf2e8;
        padding: 3.5rem 2.5rem;
        box-sizing: border-box;
        border-bottom: 1px solid #e3ceda;

        .box-title {
          width: 90%;
          display: block;
          margin: 0 auto 2.5rem;
        }

        .text {
          font-size: 1.6rem;
          line-height: 2.2rem;
          text-align: center;
          font-weight: 300;
          color: #310c45;
          margin-bottom: 2rem;
          b {
            font-weight: bold;
            &.purple {
              color: #792bda;
            }
          }
        }

        table {
          width: 100%;
          border-top: 2px solid #9f9790;
          border-bottom: 2px solid #efefee;
          tr {
            &:not(:last-child) {
              border-bottom: 1px solid #f3f3f3;
            }
            td,
            th {
              font-size: 1rem;
              color: #272727;
              line-height: 1.7rem;
              &:first-child {
                width: 40%;
                border-right: 1px solid #f3f3f3;
                text-align: center;
              }
              &:last-child {
                width: 60%;
              }
            }

            th {
              text-align: center;
              padding: 0.2rem 0;
              background-color: #efe0d3;
            }

            td {
              padding: 1rem 1rem;
              background-color: #ffffff;
            }
          }
        }

        .container-1 {
          background-color: #fff1d3;
          position: relative;
          padding-top: 5rem;
          padding-bottom: 2.5rem;
          .arrow {
            width: 3rem;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: -0.5rem;
            margin: 0 auto;
          }
          span {
            font-size: 1rem;
            font-weight: bold;
            color: #272727;
            display: block;
            text-align: center;
            margin-bottom: 1.5rem;
          }
          .dot {
            width: 90%;
            display: block;
            margin: 0 auto 2.5rem;
          }
          .contents-1 {
            width: 80%;
            display: block;
            margin: 0 auto 2.5rem;
          }
          .contents-2 {
            width: 60%;
            display: block;
            margin: 0 auto;
          }
        }
        .container-2 {
          width: 100%;
          background-color: #ffffff;
          position: relative;
          padding: 1.5rem 4.5rem;
          box-sizing: border-box;
          margin-bottom: 0.8rem;

          .date {
            font-size: 1.1rem;
            color: #3d3d3d;
            b {
              font-size: 1.3rem;
              font-weight: bold;
            }
          }

          img {
            width: 12rem;
            position: absolute;
            top: -1rem;
            right: -1rem;
          }
        }
        small {
          font-size: 0.5rem;
          font-weight: 300;
          color: #5f5f5f;
          text-align: right;
          display: block;
        }
      }
    }

    #section-8 {
      padding: 5.8rem 0 6.5rem;
      span {
        font-size: 1.9rem;
        color: #fff9b4;
        display: block;
        text-align: center;
        line-height: 2.3rem;
        margin-bottom: 1rem;
        font-weight: 300;
      }
      p {
        font-size: 2.3rem;
        line-height: 2.7rem;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        display: block;
        margin-bottom: 5rem;
      }
      form {
        width: 70%;
        margin: 0 auto;
        .input-row {
          display: flex;
          height: 3.8rem;
          align-items: center;
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
          label {
            flex: 0 0 7rem;
            color: #ffffff;
            font-size: 1.4rem;
            text-align: right;
            margin-right: 1.5rem;
          }
          input,
          select {
            flex: 1;
            height: 100%;
            background-color: #ffffff;
          }
        }
        button {
          width: 90%;
          display: block;
          margin: 3rem auto 0;
          img {
            width: 100%;
          }
        }
      }
    }
    #section-9 {
      background-color: #efd6f5;
      padding: 5rem 0;
      z-index: 5;

      &::after {
        display: block;
        content: "";
        position: absolute;
        box-sizing: border-box;
        width: 5rem;
        height: 5rem;
        border-top: 5rem solid #efd6f5;
        border-right: 5rem solid transparent;
        border-bottom: 5rem solid transparent;
        border-left: 5rem solid transparent;
        bottom: -8rem;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .point {
        width: 15rem;
        display: block;
        margin: 0 auto 2rem;
      }

      p {
        font-size: 1.9rem;
        text-align: center;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }

      .title {
        width: 60%;
        display: block;
        margin: 0 auto;
      }
    }
    #section-10 {
      padding: 5rem 4rem 6rem;

      .title {
        width: 100%;
        display: block;
        margin-bottom: 3rem;
      }

      .subtitle {
        width: 95%;
        display: block;
        margin: 0 auto 1rem;
      }

      p {
        font-size: 1.7rem;
        line-height: 2.2rem;
        color: #443a49;
        font-weight: 500;
        margin-bottom: 3rem;
        text-align: center;
        b {
          font-weight: bold;
        }
      }

      .box {
        width: 100%;
        padding: 3rem 2.5rem 2rem;
        box-sizing: border-box;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }

        .box-title {
          height: 2.2rem;
          display: block;
          margin-bottom: 2.5rem;
        }

        ul {
          li {
            font-size: 1.2rem;
            line-height: 2.2rem;
            font-weight: 500;
            b {
              font-weight: bold;
            }
            img {
              width: 1rem;
              height: 1rem;
              margin-right: 0.25rem;
            }
          }
        }
      }
    }

    #section-11 {
      padding: 4rem 0 6.5rem;
      background-color: #ffeff9;

      .point {
        width: 15rem;
        display: block;
        margin: 0 auto 1rem;
      }

      .subtitle {
        width: 90%;
        display: block;
        margin: 0 auto 1rem;
      }

      .title {
        width: 80%;
        display: block;
        margin: 0 auto 3rem;
      }

      .swiper-container {
        width: 100%;
        margin-bottom: 3rem;
        .swiper-slide {
          width: 13rem;
          height: 9rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      ul {
        padding: 0 4rem;
        li {
          display: flex;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          img {
            width: 12rem;
            height: 12rem;
            flex: 0 0 12rem;
            margin-right: 1rem;
          }
          p {
            font-size: 1.5rem;
            line-height: 2.1rem;
            font-weight: 500;
            color: #303030;
            b {
              font-weight: bold;
            }
          }
        }
      }

      .graph {
        width: 80%;
        margin: 0 auto;
        display: block;
      }
    }

    #section-12 {
      padding: 10rem 3rem 3rem;

      span {
        font-weight: 300;
        display: block;
        text-align: center;
        margin-bottom: 3rem;
        font-size: 2.6rem;
        color: #ffffff;
      }

      .title {
        width: 60%;
        display: block;
        margin: 0 auto 5rem;
      }

      .box {
        img {
          width: 100%;
          display: block;
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
      }
    }

    #section-13 {
      background-color: #efd6f5;
      padding: 5rem 0;
      z-index: 5;

      &::after {
        display: block;
        content: "";
        position: absolute;
        box-sizing: border-box;
        width: 5rem;
        height: 5rem;
        border-top: 5rem solid #efd6f5;
        border-right: 5rem solid transparent;
        border-bottom: 5rem solid transparent;
        border-left: 5rem solid transparent;
        bottom: -8rem;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .point {
        width: 15rem;
        display: block;
        margin: 0 auto 2rem;
      }

      p {
        font-size: 1.9rem;
        text-align: center;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }

      .title {
        width: 60%;
        display: block;
        margin: 0 auto;
      }
    }

    #section-14 {
      padding: 5.5rem 0;

      .title {
        width: 55%;
        margin: 0 auto 2rem;
        display: block;
      }

      .contents-1 {
        width: 80%;
        margin: 0 auto 1rem;
        display: block;
      }

      p {
        font-size: 1.1rem;
        width: 60%;
        margin: 0 auto;
        line-height: 1.8rem;
        font-weight: 300;
        color: #75687a;
        margin-bottom: 4rem;
      }

      ul {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        width: 75%;
        padding: 4rem 2rem 2.5rem;
        margin: 0 auto 3.5rem;
        box-sizing: border-box;
        li {
          font-size: 1.3rem;
          line-height: 2.4rem;
          color: #75687a;
          font-weight: 400;
          b {
            font-weight: bold;
            color: #950ecd;
          }
        }
      }

      span {
        font-size: 1.6rem;
        color: #443a49;
        text-align: center;
        display: block;
        font-weight: bold;
        margin-bottom: 2rem;
      }

      .contents-2 {
        width: 80%;
        display: block;
        margin: 0 auto;
      }
    }

    #section-15 {
      img {
        width: 100%;
      }
    }

    #section-16 {
      padding: 6rem 0 3rem;
      .subtitle {
        font-size: 2rem;
        line-height: 2rem;
        color: #ffffff;
        font-weight: 700;
        display: block;
        text-align: center;
        margin-bottom: 0.5rem;
      }
      .title {
        width: 95%;
        margin: 0 auto 1.5rem;
        display: block;
      }

      .text_1 {
        text-align: center;
        display: block;
        font-size: 1.8rem;
        color: #fff8a7;
        line-height: 2.6rem;
        font-weight: 300;
      }

      .text_2 {
        color: #ffffff;
        font-size: 2.2rem;
        line-height: 2.6rem;
        font-weight: 700;
        display: block;
        text-align: center;
        margin-bottom: 7rem;
      }

      .text_3 {
        font-size: 1.6rem;
        color: #ffffff;
        font-weight: 300;
        line-height: 2.3rem;
        text-align: center;
        display: block;
        margin-bottom: 1rem;
      }

      .text_4 {
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: #ab68f0;
        font-weight: bold;
        display: block;
        text-align: center;
        margin-bottom: 3rem;
      }

      form {
        width: 70%;
        margin: 0 auto 7rem;
        .input-row {
          display: flex;
          height: 3.8rem;
          align-items: center;
          &:not(:last-child) {
            margin-bottom: 1.5rem;
          }
          label {
            flex: 0 0 7rem;
            color: #ffffff;
            font-size: 1.4rem;
            text-align: right;
            margin-right: 1.5rem;
          }
          input,
          select {
            flex: 1;
            height: 100%;
            background-color: #ffffff;
          }
        }
        button {
          width: 90%;
          display: block;
          margin: 3rem auto 0;
          img {
            width: 100%;
          }
        }
      }

      footer {
        p {
          font-size: 1rem;
          font-weight: 300;
          color: #b1a9b4;
          line-height: 1.6rem;
          text-align: center;
        }
      }
    }
  }
}
